mixin header(title)
    doctype html
    html    
        head
            title=title    
            link(rel="stylesheet" href="style.css")
        body
            header
                h1 this is the header  